<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCnOi_3uuQohPxkUD6BGw5i3jM5_qWT6L0</string>
	<key>GCM_SENDER_ID</key>
	<string>1093557716927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fan.keubo.app</string>
	<key>PROJECT_ID</key>
	<string>keubo-fan</string>
	<key>STORAGE_BUCKET</key>
	<string>keubo-fan.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093557716927:ios:2da88f522276bfe30d430a</string>
</dict>
</plist>
